@charset "UTF-8";

@media screen and (min-width: 768px) /* TABLETS */
{
    menu
    {
        display: flex;
        flex-direction: column;
    }

    menu .bar
    {
        order: 1;
    }

    menu ul
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .navButton
    {
        border-radius: 8px;
        padding: 20px;
    }

    .navButton:active
    {
        background-color: #ffffff21;
        background-image: none;
        transition-duration: 0.25s;
    }

    #menuicon, #menuBorder
    {
        display: none;
    }

    #container
    {
        width: 80%;
    }

    section
    {
        margin: 75px;
    }

    .msg
    {
        max-width: 500px;
        padding: 15px;
        font-size: 1.25rem;
        line-height: 1.85rem;
    }
}

@media screen and (min-width: 992px) /* DESKTOP */
{
    #menuButtonArea
    {
        height: 0px;
    }

    #menuicon, #miBorder
    {
        display: none;
    }

    #art
    {
        position: relative;
        background-color: black;
    }

    menu
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    menu .bar
    {
        order: 1;
        background-image: linear-gradient(to right, #ffffff00, #ffffff7e, #ffffff00);
    }

    menu ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 700px;
    }

    .navButton
    {
        padding: 10px;
        font-size: 1.1rem;
        position: relative;

        border: none;
        background-color: none;
        border-radius: 8px;

        font-family: "Inter", sans-serif;
        font-weight: 200;
    }

    .navButton::after
    {
        position: absolute;
        bottom: 0;
        left: 0;
        content: " ";

        width: 0%;
        height: 2px;

        background-image: linear-gradient(to right, #ffffff00, #ffffff94);
        transition: all 0.2s ease-in-out;
    }

    .navButton:hover::after
    {
        width: 90%;
    }

    .navButton:active
    {
        transform: scale(98%);
        background-color: #ffffff00;
        transition-duration: 0.25s;
    }

    /* ============================================================ */

    section
    {
        margin: 75px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .title
    {
        font-size: 1.75rem;
        position: absolute;
        background-color: #00000000;
    }

    section .bar
    {
        width: 100%;
        margin-bottom: 12px;
        -webkit-mask: radial-gradient(circle, transparent 30%, #000000 31%);
        mask: radial-gradient(circle, transparent 30%, #000000 31%);
    }

    .down
    {
        flex-direction: row;
        justify-content: center;
    }

    .image
    {
        max-width: 300px;
        height: auto;
    }

    .msg
    {
        max-width: 500px;
        padding: 15px;
        font-size: 1.15rem;
        line-height: 1.85rem;
    }
}