@charset "UTF-8";

@media screen and (min-width: 768px)
{
    #container
    {
        width: 70%;
    }

    section
    {
        margin: 75px;
    }

    section p 
    {
        max-width: 500px;
        padding: 15px;
        font-size: 1.15rem;
        line-height: 1.85rem;
    }
}

@media screen and (min-width: 992px)
{
    #menuicon, #miBorder
    {
        display: none;
    }

    #art
    {
        position: relative;
        background-color: black;
    }

    menu
    {
        display: block;

        border: 1px solid white;
        background-color: #000000d2;
        box-shadow: 0px 0px 12.5px 1px rgba(255, 255, 255, 0.3);
        border-radius: 20px;

        margin-top: 10px;
        width: 60%;
    }

    menu ul
    {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    li
    {
        padding: 5px 10px;
    }

    li:hover
    {
        transform: scale(110%);
        transition-duration: 0.35s;
    }

    /* ============================================================ */

    #container
    {
        width: 85%;
    }

    section
    {
        margin: 75px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    section img
    {
        max-height: 350px;
    }

    section p 
    {
        max-width: 500px;
        padding: 15px;
        font-size: 1.15rem;
        line-height: 1.85rem;
    }
}