@charset "UTF-8";

*
{
    margin: 0px;
    padding: 0px;
    color:  #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

html
{
    width: 100%;
}

body
{
    background-color: #000000;
}

header
{
    min-height: 465px;
}

#art
{
    background-image: url(../imagens/header-background-pq.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    position: absolute;
    height: 445px;
    width: 100%;
}

#menuicon
{
    font-size: 2.5em;
    color: #b4b4b4;

    width: 100%;
    text-align: center;
    margin-top: 450px;
}

#menuicon:hover
{
    cursor: pointer;
}

menu
{
    display: none;

    margin: auto;

    width: 35%;
    padding: 10px;
}

menu ul
{
    list-style-type: none;
    text-align: center;
}

li
{
    padding: 10px;
    margin: 10px;
    color: #b4b4b4;
}

li:hover
{
    cursor: pointer;
}

/* ============================================================ */

section
{
    display: flex;
    flex-direction: column;
    border: 1px solid #bcbcbc5e;
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
}

section p
{
    text-align: center;
}